/*
Theme Name: HOMESELECT Theme
Author: Aleapp
Author URI: https://aleapp.com
Description: HOMESELECT Bootstrap Theme
Version: 1.0.0
Text Domain: hs
*/

/*
* Common
* ----------------------------------------
*/

html, body {
    padding: 0;
    margin: 0;
    font-family: "Gotham", sans-serif;
    color: #3f4346;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
    line-height: 1.43em;
}

a {
    /*color: #469731;*/
    color: inherit;
    text-decoration: underline;
    transition-property: opacity;
    transition-duration: 0.4s;
}
a:hover {
    color: inherit;
    text-decoration: underline;
    opacity: 0.7;
}
a:focus {
    outline: none !important;
}

p {
    padding: 0;
    margin: 0 0 0.7143rem;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}
p:last-child {
    margin-bottom: 0;
}

ul, ol {
    padding: 0 0 0 2rem;
    margin: 0;
}
ul {
    list-style: disc;
}
li ul {
    list-style: circle;
}
li {
    padding: 0;
    margin: 0 0 0.5rem;
}

/*
* Bootstrap
* ----------------------------------------
*/

.container, .container-lg {
    max-width: 1166px;
    padding-left: 2.143rem;
    padding-right: 2.143rem;
}

/*
* Sections
* ----------------------------------------
*/

.site-main {
    min-height: 30rem;
}
.site-main > .section {
    padding-left: 1rem;
    padding-right: 1rem;
}
.site-main img.attachment-medium {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/*
* H
* ----------------------------------------
*/

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 0.5em;
    color: inherit;
    font-family: Gotham;
    font-weight: 500;
}

h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.8rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.4rem;
}
