
/*
* Template: page-properties
* ----------------------------------------
*/

body.page-template-page-properties {
    padding-top: 6.5rem;
    background-color: #f2f2f2;
}

body.page-template-page-properties .properties-cont .map-cont {
    width: 35%;
    position: relative;
}
body.page-template-page-properties .properties-cont .map-controls {
    display: none;
}
body.page-template-page-properties .properties-cont .map-cont .map {
    width: 100%;
    height: 100%;
    min-height: 20rem;
}

@media (min-width: 992px)
{
    body.page-template-page-properties .properties-cont {
        display: flex;
        flex-direction: row;
    }
    body.page-template-page-properties .properties-cont .list-cont {
        width: 65%;
        transition-property: width;
        transition-duration: 0.5s;
    }
    body.page-template-page-properties .properties-cont.map-expanded .property-list .list > .row > .col-md-6 {
        width: 100% !important;
    }
    body.page-template-page-properties .properties-cont.map-expanded .list-cont {
        width: 45%;
    }
    body.page-template-page-properties .properties-cont .map-cont {
        position: fixed;
        right: 0;
        height: 100%;
        width: 35%;
        padding-left: 2rem;
        transition-property: width;
        transition-duration: 0.5s;
    }
    body.page-template-page-properties .properties-cont .map-cont .map {
        border-left: 1px solid #e1e1e1;
    }
    body.page-template-page-properties .properties-cont .map-cont .map .gmnoprint {
        display: none;
    }
    body.page-template-page-properties .properties-cont.map-expanded .map-cont {
        width: 55%;
    }
    body.page-template-page-properties .properties-cont .map-controls {
        position: absolute;
        display: block;
        top: 0;
        left: 0.2857rem;
    }
    body.page-template-page-properties .properties-cont .map-controls .btn-map-expand {
        padding: 0;
        position: relative;
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        color: #969696;
        text-transform: uppercase;
        font-size: 0.857rem;
        font-weight: 500;
    }
    body.page-template-page-properties .properties-cont .map-controls .btn-map-expand:before {
        display: inline-block;
        vertical-align: middle;
        padding: 0.3em 0.8em;
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        content: "\f060";
        border-right: 1px solid #e1e1e1;
    }
    body.page-template-page-properties .properties-cont .map-controls .btn-map-expand .btn-label {
        display: inline-block;
        vertical-align: middle;
        padding: 0.3em 0.8em;
    }
    body.page-template-page-properties .properties-cont .map-controls .btn-map-expand .btn-label-active {
        display: none;
    }
    body.page-template-page-properties .properties-cont .map-controls .btn-map-expand.active .btn-label {
        display: none;
    }
    body.page-template-page-properties .properties-cont .map-controls .btn-map-expand.active .btn-label-active {
        display: inline-block;
    }
    
    body.page-template-page-properties .view.property-filters-advanced {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    body.page-template-page-properties .view.property-list {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
