
/*
* view.header
* ----------------------------------------
*/

.view.header {
    color: #ffffff;
}

/* ---------- */

.view.header .site-logo {
    display: block;
    text-decoration: none;
    background-image: url(../images/logo.svg);
    width: 10rem;
    height: 4rem;
    z-index: 150;
}

/* ---------- */

.view.header nav ul {
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ---------- */

.view.header nav ul.menu {
    display: block;
    padding: 0;
    margin: 0;
}
.view.header nav ul.menu li {
    display: block;
    padding: 0;
    margin: 0;
}
.view.header nav ul.menu li a {
    display: block;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 0.86em;
    text-decoration: none;
    opacity: 1;
    z-index: 120;
    position: relative;
}
.view.header nav ul.menu li a span.item-name {
    display: block;
    position: relative;
}

.view.header nav ul.menu ul.sub-menu {
    display: none;
}

/* ---------- */

.view.header .login-btn {
    display: block;
    padding: 0.15rem 0.3rem;
    border: 1px solid #fff;
    font-size: 0.857rem;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: -.01em;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 150;
}

@media (max-width: 991px)
{
    .view.header {
        padding: 1rem;
        background-color: #29303c;
        color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .view.header .nav-toggle-btn {
        position: relative;
        padding: 0.25rem;
        margin: 0;
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 900;
        font-variant: normal;
        text-rendering: auto;
    }
    .view.header .nav-toggle-btn:before {
        font-family: "Font Awesome 5 Free";
        display: block;
        line-height: 1em;
        content: "\f0c9";
    }
    .view.header.nav-opened .nav-toggle-btn:before {
        content: "\f00d";
    }

    /* ---------- */

    .view.header nav.navbar-mobile {
        position: fixed;
        top: 6rem;
        left: -100%;
        height: calc(100% - 6rem);
        width: 100%;
        font-size: 0.857rem;
        font-weight: 500;
        transition-property: left;
        transition-duration: 0.5s;
        background-color: rgba(0,0,0,0.25);
        color: #4c4c4e;
    }
    .view.header nav.navbar-mobile .nav-close-area {
        position: absolute;
        width: 25%;
        height: 100%;
        top: 0;
        right: 0;
    }

    .view.header.nav-opened nav.navbar-mobile {
        left: 0;
    }
    .view.header nav.navbar-mobile .menu-mobile-menu-container {
        height: 100%;
        width: 75%;
        padding: 1rem 0 1rem;
        background-color: #f2f2f2;
        overflow-y: auto;
    }

    .view.header nav.navbar-mobile ul.menu > li.menu-item-has-children > a {
        position: relative;
        padding-right: 3rem;
    }
    .view.header nav.navbar-mobile ul.menu > li.menu-item-has-children > a:after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        content: "\0002B";
        padding: 1.43rem 1.43rem;
    }
    .view.header nav.navbar-mobile ul.menu > li.menu-item-has-children.submenu-opened > a:after {
        content: "\000D7";
    }
    .view.header nav.navbar-mobile ul.menu > li > a {
        padding: 1.43rem 1.43rem;
        text-transform: uppercase;
        border-bottom: 1px solid #e3e3e3;
        font-weight: 500;
    }
    .view.header nav.navbar-mobile ul.sub-menu {
        padding: 0.43rem 0;
        background-color: #f0f0f0;
        border-bottom: 1px solid #e3e3e3;
    }
    .view.header nav.navbar-mobile ul.sub-menu > li > a {
        padding: 0.857rem 1.43rem;
        font-weight: 400;
    }

    .view.header nav.navbar-mobile ul.menu > li.submenu-opened > ul.sub-menu {
        display: block;
    }
}

@media (min-width: 992px)
{
    .view.header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.57rem;
        background-color: rgba(41,48,60,0.8);
    }
    .view.header.transparent {
        background-color: transparent;
    }
    .view.header:hover, 
    .view.header.fixed {
        background-color: rgba(41,48,60,0.8);
    }

    /* ---------- */

    .view.header nav ul.menu {
        display: flex;
        flex-direction: row;
    }
    .view.header nav ul.menu li > a {
        text-transform: uppercase;
        padding: 2em 0.86em;
    }
    .view.header nav ul.menu li > a .nav-image {
        margin-bottom: 0.75em;
    }
    .view.header nav ul.menu li > a .item-name {
        display: block;
        padding: 0 0.2143em;
        border: 1px solid transparent;
    }
    .view.header nav ul.menu li:first-child > a {
        padding-left: 0;
    }
    .view.header nav ul.menu li:last-child > a {
        padding-right: 0;
    }
    
    .view.header nav ul.menu {
        z-index: 120;
    }
    
    .view.header nav ul.menu li > a span.item-border {
        border-bottom: 1px solid #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        transition-property: width;
        transition-duration: 0.3s;
    }

    .view.header nav ul.menu li:hover > a span.item-border, 
    .view.header nav ul.menu li.current-menu-item > a span.item-border, 
    .view.header nav ul.menu li.current-menu-ancestor > a span.item-border {
        width: 100%;
    }

    .view.header nav ul.menu > li.city-selector {
        padding-right: 5rem;
    }
    
    .view.header nav ul.menu > li.menu-item-has-children > ul.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(41,48,60,0.8);
        padding: 0 1em 0;
        /* margin-top: -1px; */
    }
    .view.header nav ul.menu > li.menu-item-has-children:hover > ul.sub-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .view.header nav ul.menu > li.menu-item-has-children > ul.sub-menu > li {
        text-align: center;
        max-width: 14.2857em;
    }
    .view.header nav ul.menu > li.menu-item-has-children > ul.sub-menu > li > a {
        font-size: 0.7857em;
    }
    .view.header nav ul.menu > li.menu-item-has-children > ul.sub-menu > li.has-image {
        width: 100%;
    }
    .view.header nav ul.menu > li.menu-item-has-children > ul.sub-menu > li > a .menu-item-img {
        display: block;
        margin-bottom: 0.7143em;
    }

    /* navbar-city-opts */
    .view.header nav.navbar-primary {
        padding-left: 12rem;
    }

    /* navbar-city-opts */
    
    .view.header nav.navbar-city-opts ul.menu > li {
        position: relative;
    }
    .view.header nav.navbar-city-opts ul.menu > li > a {
        padding-left: 0.86em;
        padding-right: 0.86em;
        min-width: 10rem;
        text-align: center;
    }
    /* .view.header nav.navbar-city-opts ul.sub-menu {
        justify-content: flex-start !important;
        padding-left: 16rem !important;
    } */
    .view.header nav.navbar-city-opts ul.sub-menu {
        background-color: transparent !important;
        flex-direction: column !important;
        padding: 0 0 1em !important;
        /* top: 70% !important; */
    }
    .view.header nav.navbar-city-opts ul.sub-menu > li > a {
        padding: 0.5em 0.86em;
        text-transform: none;
        text-align: center;
    }
    /* .view.header nav.navbar-city-opts ul.sub-menu > li > a span {
        font-size: 0.8em;
    } */
}

/*
* view.footer
* ----------------------------------------
*/

.view.footer .footer-area-1 {
    padding: 5rem 0 4.2857rem;
}
.view.footer .footer-area-2 {
    padding: 2.143rem 0 0.357rem;
}
.view.footer .footer-area-2 .widget_block {
    margin: 0 0 1.875rem;
}
.view.footer .footer-area-3 {
    padding: 2.7143rem 0 2.857rem;
}

/* .widgets-area */

@media (max-width: 991px)
{
    .view.footer .widgets-area.footer-widgets-6 {
        padding: 2.5rem 2.143rem 0;
    }
    .view.footer .widgets-area.footer-bottom-1-1 {
        padding: 0 2.143rem 2rem;
    }
    .view.footer .widgets-area.footer-bottom-1-3 {
        padding: 0 2.143rem;
    }
    .view.footer .widgets-area.footer-bottom-2-1 {
        padding: 0 2.143rem;
    }
    .view.footer .widgets-area.footer-bottom-2-2 {
        padding: 0 2.143rem;
    }
}

/* .widget_nav_menu */

.view.footer .widget_nav_menu {
    margin: 0 0 2rem;
}
.view.footer .widget_nav_menu ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.view.footer .widget_nav_menu ul.menu li {
    padding: 0;
    margin: 0;
    margin-bottom: 0.713rem;
    font-size: 0.93rem;
    line-height: 1.154em;
}
.view.footer .widget_nav_menu ul.menu li a {
    text-decoration: none;
    color: #838da6;
    font-size: inherit;
    line-height: inherit;
    font-weight: 400;
}

@media (max-width: 991px)
{
    .view.footer .widget_nav_menu {
        border-bottom: 1px solid #414654;
        margin: 0;
    }
    .view.footer .widget_nav_menu .widget-title {
        position: relative;
        padding: 2.143rem 2.143rem;
        margin: 0;
        font-weight: 400;
    }
    .view.footer .widget_nav_menu .widget-title:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "+";
        padding: 1.57rem 2.143rem;
        font-size: 2rem;
        color: #6f737d;
        text-align: center;
    }
    .view.footer .widget_nav_menu.opened .widget-title:after {
        content: "-";
    }
    .view.footer .widget_nav_menu ul.menu {
        display: none;
    }
    .view.footer .widget_nav_menu.opened ul.menu {
        display: block;
    }

    .view.footer .widget_nav_menu.opened ul.menu li {
        padding: 0;
        margin: 0;
        border-bottom: solid 1px #414654;
    }
    .view.footer .widget_nav_menu.opened ul.menu li:not(:last-child) {
        padding: 0;
        margin: 0;
        border-bottom: solid 1px #414654;
    }
    .view.footer .widget_nav_menu.opened ul.menu li a {
        display: block;
        padding: 2.143rem 2.143rem;
        background-color: #3a4050;
    }
}

/* .widget_text */

.view.footer .widget_text {
    text-decoration: none;
    color: #838da6;
    font-size: 0.93rem;
    line-height: 1.154em;
    font-weight: 400;
}
.view.footer .widget_text p {
    padding: 0;
    margin: 0;
    margin-bottom: 0.713rem;
}
.view.footer .widget_text p a {
    text-decoration: none;
}

@media (max-width: 991px)
{
    .view.footer .widget_text {
        padding-left: 2.143rem;
        padding-right: 2.143rem;
    }
}

/* .view.widget-title */

.view.footer .widget-title {
    font-size: 1rem;
    margin-bottom: 1.43rem;
    font-family: Gotham;
    font-style: normal;
    font-weight: 700;
}
body:not(.wp-admin) .view.footer .widget-title {
    color: #ffffff;
}

@media (max-width: 991px)
{
    .view.footer .view.widget-title {
        padding-left: 2.143rem;
        padding-right: 2.143rem;
    }
}

/* .wp-block-separator */

.view.footer .widget_block hr.wp-block-separator {
    opacity: 1;
    border: none;
}

/* .nice-dropdown */

.view.footer .widget_block .view.nice-dropdown {
    font-size: 1.125rem;
}
.view.footer .widget_block .view.nice-dropdown .selected-label .label-text {
    padding: 0.5em 1em;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    background-color: #3a4050;
}
.view.footer .widget_block .view.nice-dropdown .selected-label .label-text:after {
    padding: 0.5em 1em;
}
.view.footer .widget_block .view.nice-dropdown li label .label-text {
    padding: 0.5em 1em;
    background-color: #313745;
    color: #7a8296;
}
.view.footer .widget_block .view.nice-dropdown li:hover label .label-text, 
.view.footer .widget_block .view.nice-dropdown li.active label .label-text, 
.view.footer .widget_block .view.nice-dropdown li input:checked ~ label .label-text {
    padding: 0.5em 1em;
    background-color: #7a8296;    
    color: #313745;
}

/*
* .view.nice-dropdown
* ----------------------------------------
*/

.view.nice-dropdown {
    position: relative;
    font-size: 1rem;
}

.view.nice-dropdown .selected-label .label-text {
    display: block;
    position: relative;
    color: inherit;
    background-color: #ffffff;
    padding: 0.7143em 3.2143em;
    cursor: pointer;
}
.view.nice-dropdown .selected-label .label-text:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7143em;
    line-height: 1.67em;
    padding: 0 0.33em;
}
.view.nice-dropdown .selected-label .label-text:after {
    display: block;
    padding: 0.7143em 0.67em;
    position: absolute;
    top: 0;
    right: 0;
    font-family: ss_dingsregular;
    content: "\60";
}
.view.nice-dropdown.opened .selected-label .label-text:after {
    transform: rotate(180deg);
}

.view.nice-dropdown ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    left: 0;
    /* top: 2.8571em; */
    top: 100%;
}
.view.nice-dropdown.opened ul {
    display: block;
    z-index: 100;
}
.view.nice-dropdown li {
    margin: 0;
}

.view.nice-dropdown li label {
    display: block;
}
.view.nice-dropdown li label .label-text {
    display: block;
    color: inherit;
    background-color: #ffffff;
    text-decoration: none;
    padding: 0.7143rem 3.2143rem;
    cursor: pointer;
}
.view.nice-dropdown li label a.label-text:hover {
    opacity: 1;
}
.view.nice-dropdown li:hover label .label-text, 
.view.nice-dropdown li.active label .label-text, 
.view.nice-dropdown li input:checked ~ label .label-text {
    background-color: #29303c;
    color: #ffffff;
}

.view.nice-dropdown li input[type="radio"], 
.view.nice-dropdown li input[type="checkbox"] {
    display: none;
}

/*
* view.title
* ----------------------------------------
*/

.view.title {
    padding-top: 0;
    padding-bottom: 1.43rem;
}
.view.title.section {
    padding-top: 4.2857rem;
}
.view.title .pre-title {
    text-align: center;
    padding: 0;
    margin: 0 0 1.7857rem;
    color: #969696;
    font-size: 1.5rem;
}
.view.title .title-tag {
    padding: 0 0 2.8571rem;
    margin: 0;
}
.view.title.variant-section-title .title-tag {
    font-family: freightText;
    font-style: normal;
    font-weight: 300;
    font-size: 2.143rem;
}
.view.title.variant-section-title .title-tag strong {
    font-family: freightText-Bold;
    font-weight: normal;
}
.view.title .headline-text {
    max-width: 45.7143rem;
    padding: 0 0 2.857rem;
    margin: 0 auto;
    text-align: center;
}

/*
* view.widget-title
* ----------------------------------------
*/

.view.widget-title {
    font-size: 1rem;
    margin-bottom: 1.43rem;
    font-family: Gotham;
    font-style: normal;
    font-weight: 700;
}

/*
* view.header-banner
* ----------------------------------------
*/

/* .view.header-banner .bg-image {
    z-index: 50;
} */
.view.header-banner .bg-overlay {
    background-color: rgba(0,0,0,0.4);
    /* z-index: 60; */
}
.view.header-banner .banner-content {
    position: relative;
    height: 40rem;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 70; */
}
.view.header-banner .banner-title {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 2.7143rem;
    letter-spacing: 0.2rem;
    padding: 0;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.view.header-banner .banner-title strong {
    font-family: Gotham-Medium;
}
.view.header-banner.has-bg-image .banner-title {
    color: #ffffff;
}
.view.header-banner .banner-title .rotate {
    display: none;
    text-decoration: underline;
}
.view.header-banner .banner-title .rotate.active {
    display: inline;
}

/*
* view.header-banner-search
* ----------------------------------------
*/

/* .view.header-banner-search .bg-image {
    z-index: 50;
} */
.view.header-banner-search .bg-overlay {
    background-color: rgba(0,0,0,0.4);
    /* z-index: 60; */
}
.view.header-banner-search .banner-content {
    position: relative;
    min-height: 41.86rem;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 70; */
}
.view.header-banner-search .banner-title {
    margin: 0 0 2.857rem;
    font-family: freightText;
    letter-spacing: .01em;
    font-size: 3.57rem;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}
.view.header-banner-search.has-bg-image .banner-title {
    color: #ffffff;
}
.view.header-banner-search .banner-title .rotate {
    display: none;
    text-decoration: underline;
}
.view.header-banner-search .banner-title .rotate.active {
    display: inline;
}

/*
* view.image-banner
* ----------------------------------------
*/

.view.image-banner .bg-overlay {
    background-color: rgba(0,0,0,0.4);
    /* z-index: 60; */
}

/*
* view.property-filters-simple
* ----------------------------------------
*/

.view.property-filters-simple .filters-form {
    padding: 0;
    margin: 0 auto;
    max-width: 62.8571rem;
}

.view.property-filters-simple .filters-form input[type="radio"], 
.view.property-filters-simple .filters-form input[type="checkbox"] {
    display: none;
}

/* ---------- */

.view.property-filters-simple .filters-form .filters-block-top {
    margin-bottom: 1rem;
}
.view.property-filters-simple .filters-form .filters-block-top .filter ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.view.property-filters-simple .filters-form .filters-block-top .filter li {
    display: block;
}
.view.property-filters-simple .filters-form .filters-block-top .filter li:not(:last-child) {
    border-right: 2px solid #ffffff;
}
.view.property-filters-simple .filters-form .filters-block-top .filter li label {
    cursor: pointer;
    font-family: Gotham;
    letter-spacing: .06em;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 0.43rem;
}
.view.property-filters-simple .filters-form .filters-block-top .filter li a {
    text-decoration: none;
}

/* ---------- */

.view.property-filters-simple .filters-form .filters.type-dropdown {
    position: relative;
    font-size: 1rem;
}
.view.property-filters-simple .filters-form .filters.type-dropdown .selected-label {
    position: relative;
    background-color: #ffffff;
    color: inherit;
    padding: 0.7143rem 3.2143rem;
    cursor: pointer;
}
.view.property-filters-simple .filters-form .filters.type-dropdown .selected-label:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7143em;
    line-height: 1.67em;
    padding: 0 0.33em;
}
.view.property-filters-simple .filters-form .filters.type-dropdown .selected-label:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.86em;
    line-height: 3.33em;
    padding: 0 0.67em;
    font-family: ss_dingsregular;
    content: "\60";
}
.view.property-filters-simple .filters-form .filters.type-dropdown.opened .selected-label:after {
    transform: rotate(180deg);
}
.view.property-filters-simple .filters-form .filters.type-dropdown ul.options {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 2.8571em;
}
.view.property-filters-simple .filters-form .filters.type-dropdown.opened ul.options {
    display: block;
}

.view.property-filters-simple .filters-form .filters.type-dropdown ul.options li label {
    display: block;
    background-color: #ffffff;
    color: inherit;
    padding: 0.7143rem 3.2143rem;
    cursor: pointer;
}
.view.property-filters-simple .filters-form .filters.type-dropdown ul.options li input:checked ~ label {
    background-color: #29303c;
    color: #ffffff;
}

/* ---------- */

.view.property-filters-simple .filters-form .filters.type-dropdown.city .selected-label:before {
    font-family: ss_dingsregular;
    content: "\45";
}
.view.property-filters-simple .filters-form .filters.type-dropdown.parish .selected-label:before {
    font-family: ss_dingsregular;
    content: "\e929";
}

/*
* view.property-filters-advanced
* ----------------------------------------
*/

.view.property-filters-advanced {
    padding: 0 0.7143rem 3rem;
    margin: 0 0 1rem;
    border-bottom: 1px solid #e1e1e1;
}

.view.property-filters-advanced .filters-form {
    padding: 0;
    margin: 0 auto;
    max-width: 62.8571rem;
}

.view.property-filters-advanced .filters-form input[type="radio"], 
.view.property-filters-advanced .filters-form input[type="checkbox"] {
    display: none;
}

.view.property-filters-advanced .block-label {
    display: block;
    padding: 0 0 1.43rem 1rem;
    font-weight: 500;
    font-style: normal;
}

.view.property-filters-advanced .filter {
    padding: 0 0 1.43rem;
}

.view.property-filters-advanced .filter.city .nice-dropdown .selected-label .label-text:before {
    font-family: ss_dingsregular;
    content: "\45";
}
.view.property-filters-advanced .filter.parish .nice-dropdown .selected-label .label-text:before {
    font-family: ss_dingsregular;
    content: "\e929";
}

/*
* view.property-filter-price-slider
* ----------------------------------------
*/

.view.property-filter-price-slider .irs {
    position: relative;
    margin-top: -2.5rem;
}
.view.property-filter-price-slider .irs.irs--round .irs-bar {
    background-color: #29303c;
    height: 0.5rem;
}
.view.property-filter-price-slider .irs.irs--round .irs-line {
    background-color: #dddddd;
    height: 0.5rem;
}
.view.property-filter-price-slider .irs.irs--round .irs-handle {
    border: 1px solid #c1c1c1;
    background-color: #acacac;
    box-shadow: none;
    width: 1.43rem;
    height: 1.43rem;
    top: 2.143rem;
}
.view.property-filter-price-slider .irs.irs--round .irs-from,
.view.property-filter-price-slider .irs.irs--round .irs-to {
    top: 4rem;
    color: inherit;
    background-color: transparent;
}
.view.property-filter-price-slider .irs.irs--round .irs-from:before,
.view.property-filter-price-slider .irs.irs--round .irs-to:before {
    display: none;
}

/*
* view.cta-type-1
* ----------------------------------------
*/

.view.cta-type-1 {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}
.view.cta-type-1.bg-dark {
    color: #ffffff;
}
.view.cta-type-1 .cta-content {
    max-width: 47.857rem;
    margin: 0 auto;
}
/* .view.cta-type-1 .title {
    font-family: freightText;
    font-style: normal;
    font-weight: 300;
    font-size: 2.143rem;
    color: #3f4346;
    padding: 0;
    margin: 0 0 1.7857rem;
    text-align: center;
}
.view.cta-type-1.bg-dark .title {
    color: #ffffff;
} */
.view.cta-type-1 .view.title {
    padding: 0;
    margin: 0 0 1.7857rem;
}
.view.cta-type-1 .view.title .title-tag {
    padding: 0;
    padding: 0;
}
.view.cta-type-1 .description {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 1.143rem;
    line-height: 1.875em;
    /* color: #969696; */
    color: inherit;
    margin: 0 0 2.857rem;
    text-align: center;
}
.view.cta-type-1.bg-dark .description {
    color: #ffffff;
}
.view.cta-type-1 .more-info {
    text-align: center;
}

/*
* view.cta-quote
* ----------------------------------------
*/

.view.cta-quote {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}
.view.cta-quote .cta-content {
    max-width: 47.857rem;
    margin: 0 auto;
}
.view.cta-quote .title {
    font-family: freightText;
    font-style: normal;
    font-weight: 300;
    font-size: 2.143rem;
    color: #3f4346;
    padding: 0;
    margin: 0 0 1.7857rem;
    text-align: center;
}
.view.cta-quote.bg-dark .title {
    color: #ffffff;
}
.view.cta-quote .description {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.875em;
    color: #3f4346;
    margin: 0 0 1rem;
    text-align: center;
    font-style: italic;
}
.view.cta-quote.bg-dark .description {
    color: #ffffff;
}
.view.cta-quote .description .quote {
    position: relative;
    margin: 0 0 1.5rem;
}
.view.cta-quote .description .quote:before {
    display: block;
    font-family: ss_dingsregular;
    content: '"';
    font-size: 2rem;
}
.view.cta-quote .more-info {
    text-align: center;
}

/*
* view.cta-meet
* ----------------------------------------
*/

.view.cta-meet {
    background-color: #c9cccf;
}
.view.cta-meet .title-content {
    padding: 2.67rem 2rem 0;
    margin-bottom: 0.67rem;
}
.view.cta-meet .title-content .pre-title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.view.cta-meet .title-content .title {
    margin: 0;
    font-size: 1.33rem;
    letter-spacing: .5rem;
}
.view.cta-meet .description-content {
    padding: 0 2rem;
}
.view.cta-meet .description-content .description {
    margin: 0 0 2.5rem;
}
.view.cta-meet .description-content .description p {
    font-size: 0.93rem;
    line-height: 1.643em;
    letter-spacing: -.01em;
}
.view.cta-meet .description-content .more-info {
    padding: 7rem 10rem 2rem 0;
    position: relative;
    height: 12rem;
}
.view.cta-meet .description-content .more-info .main-image {
    position: absolute;
    bottom: 0;
    right: -2.75rem;
    width: 9rem;
    height: 12.86rem;
}

@media (min-width: 992px)
{
    .view.cta-meet {
        background-color: #eaeaea;
    }
    .view.cta-meet .title-content {
        padding: 5rem 3.5rem 3rem 7rem;
        margin: 0;
    }
    .view.cta-meet .title-content .pre-title {
        font-size: 1.07rem;
    }
    .view.cta-meet .title-content .title {
        font-size: 1.43rem;
        margin: 0 0 3rem;
    }
    .view.cta-meet .description-content {
        padding: 8rem 7rem 3rem 3.5rem;
    }
    .view.cta-meet .description-content .more-info {
        padding: 0;
        height: auto;
    }
}

/*
* view.content-tabs
* ----------------------------------------
*/

.view.content-tabs {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}
.view.content-tabs .tabs-description {
    max-width: 45.7143rem;
    margin: 0 auto;
    text-align: center;
}
.view.content-tabs ul.tabs {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    margin: 0 0 2rem;
}
.view.content-tabs ul.tabs li {
    display: block;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 0.857rem;
    color: #adadad;
    padding: 0 2rem 0.7143rem;
    margin: 0 0.357rem 1.143rem;
    border-bottom: 2px solid #dadada;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.view.content-tabs ul.tabs li.active {
    color: #29303c;
    border-bottom: 2px solid #29303c;
    cursor: default;
}

.view.content-tabs .tabs-content .tab-content {
    display: none;
    position: relative;
    min-height: 10rem;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.view.content-tabs .tabs-content .tab-content .intro {
    max-width: 45.7143rem;
    margin: 0 auto 2.857rem;
    text-align: center;
}
.view.content-tabs .tabs-content .tab-content.active {
    display: block;
}
.view.content-tabs .tabs-content .tab-content.visible {
    opacity: 1;
}

@media (min-width: 992px)
{
    .view.content-tabs ul.tabs {
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 1200px)
{
    .view.content-tabs ul.tabs li {
        min-width: 14rem;
    }
}

/*
* view.banner-slider
* ----------------------------------------
*/

.view.banner-slider .swiper-slide {
    position: relative;
    height: 29.143rem;
}
.view.banner-slider .banner-slider-cont {
    position: relative;
    padding: 0 3rem;
}
.view.banner-slider .swiper-button-prev {
    left: 0.5rem;
}
.view.banner-slider .swiper-button-next {
    right: 0.5rem;
}
.view.banner-slider .swiper-button-prev, 
.view.banner-slider .swiper-button-next {
    font-size: 1.7143rem;
    line-height: 1em;
    color: #29303c;
}
.view.banner-slider .swiper-button-prev:after, 
.view.banner-slider .swiper-button-next:after {
    font-size: inherit;
    line-height: inherit;
}

/*
* view.property-slider
* ----------------------------------------
*/

.view.property-slider .property-slides > .swiper-slide {
    position: relative;
    height: 29.143rem;
}
.view.property-slider .property-slider-cont {
    position: relative;
    padding: 0 3rem;
}
.view.property-slider .property-slider-cont > .swiper-button-prev {
    left: 0.5rem;
}
.view.property-slider .property-slider-cont > .swiper-button-next {
    right: 0.5rem;
}
.view.property-slider .property-slider-cont > .swiper-button-prev, 
.view.property-slider .property-slider-cont > .swiper-button-next {
    font-size: 1.7143rem;
    line-height: 1em;
    color: #29303c;
}
.view.property-slider .property-slider-cont > .swiper-button-prev:after, 
.view.property-slider .property-slider-cont > .swiper-button-next:after {
    font-size: inherit;
    line-height: inherit;
}

/*
* view.property-item
* ----------------------------------------
*/

.view.property-item  {
    padding: 0.7143rem;
    background-color: transparent;
    border: none;
}
.view.property-item .property-item-cont {
    position: relative;
    background-color: #ffffff;
}
/* .view.property-item .property-gallery {
    position: relative;
}
.view.property-item .property-gallery .swiper-slide {
    position: relative;
} */
.view.property-item .property-gallery .gallery-image, 
.view.property-item .property-gallery .property-image {
    height: 19.2857rem;
}
.view.property-item .deal-type {
    position: absolute;
    top: 1.43rem;
    left: 1.43rem;
    text-align: center;
}
.view.property-item .deal-type span.deal-tag {
    display: block;
    padding: 0.25rem 0.7143rem;
    font-size: 0.7857rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    background-color: #29303c;
    color: #ffffff;
}
.view.property-item .property-info {
    padding: 1.43rem;
}
.view.property-item .property-info .property-link {
    display: block;
}
.view.property-item .property-location {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
.view.property-item .property-location:before {
    font-size: 1.43em;
    line-height: 1em;
    content: "E";
    color: #568ba4;
}
.view.property-item .property-location span.location-info,
.view.property-item .property-location span.location-ref-info {
    display: block;
    font-family: Gotham;
    font-size: 0.857rem;
    color: #568ba4;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: .05em;
}
.view.property-item .property-location span.location-ref-info {
    font-size: 0.7143rem;
    color: #bebebe;
}
.view.property-item .property-info .specs-list span.spec {
    font-size: 1rem;
    color: #bebebe;
    display: inline-block;
    vertical-align: middle;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
    margin: 0 0.25rem 0.25rem 0;
}
.view.property-item .property-info .specs-list span.spec:before {
    margin-right: 0.357em;
    font-size: 1.43em;
    line-height: 1em;
}
.view.property-item .property-info .specs-list span.spec.bedrooms:before {
    content: "N";
}
.view.property-item .property-info .specs-list span.spec.bathrooms:before {
    content: "O";
}
.view.property-item .property-info .price-info {
    font-size: 1.07rem;
    font-family: Gotham;
    font-style: normal;
    font-weight: 700;
    text-align: right;
}

.view.property-item .view.property-item-map-info {
    display: none;
}

/*
* .view.property-item-map-info
* ----------------------------------------
*/

.view.property-item-map-info {
    width: 20rem;
}
.view.property-item-map-info .property-image .bg-img {
    width: 100%;
}
.view.property-item-map-info .property-info {
    padding: 1rem 1.2857rem;
}
.view.property-item-map-info .property-info .reference {
    font-size: 1.07rem;
    color: #4c4c4c;
}
.view.property-item-map-info .property-info .location {
    font-size: 1.07rem;
    color: #568ba4;
}
.view.property-item-map-info .property-info .price {
    font-size: 0.857rem;
    color: #4c4c4c;
    font-weight: 500;
    text-align: right;
}

/*
* view.cta-type-2
* ----------------------------------------
*/

.view.cta-type-2 .view-inner {
    position: relative;
    height: 32rem;
}
.view.cta-type-2 .cta-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2.143rem 3.57rem 2.143rem 8rem;
    background-color: rgba(255,255,255,0.8);
}
.view.cta-type-2 .cta-content .before-title {
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #29303c;
    letter-spacing: inherit;
    margin: 0 0 0.7143rem;
    padding: 0;
}
.view.cta-type-2 .cta-content .title {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7143rem;
    color: #29303c;
    letter-spacing: .25rem;
    margin: 0 0 0.7143rem;
    padding: 0;
}
.view.cta-type-2 .cta-content .description {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #29303c;
    letter-spacing: inherit;
    margin: 0 0 0.7143rem;
    padding: 0;
    min-height: 4.2857rem;
}
.view.cta-type-2 .cta-content .more-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*
* view.cta-type-3
* ----------------------------------------
*/

.view.cta-type-3 {
    padding: 7rem 0 4.5rem;
}
.view.cta-type-3 .content-main {
    padding: 0 0 3rem;
    margin: 0 0 3rem;
    border-bottom: 1px solid #d0d0d0;
}
.view.cta-type-3 .content-main .title-main {
    padding: 0;
    margin-bottom: 0 0 1.57rem;
    font-size: 2.2857rem;
    line-height: 1.375em;
    font-weight: 400;
    letter-spacing: -.02em;
}
.view.cta-type-3 .content-main .description-main {
    font-size: 1.143rem;
    line-height: 1.75em;
    color: #969696;
}
@media (min-width: 992px)
{
    .view.cta-type-3 .content-main {
        padding: 0 4.5rem 0 0;
        border-bottom: 0;
        border-right: 1px solid #d0d0d0;
    }
}

.view.cta-type-3 .content-second {
    padding: 0 0 0 4.5rem;
    margin: 0 0 3rem;
}
@media (min-width: 992px)
{
    .view.cta-type-3 .content-second {
        padding: 0 0 0 4.5rem;
    }
}
.view.cta-type-3 .content-second .title-second {
    padding: 0;
    margin: 0 0 0.57rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: #4c4c4e;
}
.view.cta-type-3 .content-second .description-second {
    margin: 0 0 2rem;
    font-size: 1rem;
    line-height: 1.57em;
    font-weight: 500;
    color: #969696;
}

/*
* view.service-type-1-group
* ----------------------------------------
*/

.view.service-type-1-group {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}
.view.service-type-1-group .description {
    text-align: center;
    font-weight: 400;
    font-size: 1.143rem;
    letter-spacing: inherit;
    margin: 0 auto 5.7rem;
    max-width: 45.7143rem;
}
.view.service-type-1-group.has-top-line-sep .items {
    padding-top: 2rem;
    border-top: 1px solid #e3e3e3;
}

/*
* view.service-type-1
* ----------------------------------------
*/

.view.service-type-1 {
    margin-bottom: 3.57rem;
}
.view.service-type-1 .service-inner {
    display: block;
}
.view.service-type-1 .service-image {
    position: relative;
}
.view.service-type-1.variant-2 .service-image {
    margin-bottom: 1rem;
}
.view.service-type-1 .service-image img {
    display: block;
}
.view.service-type-1:not(.has-title) .service-image {
    margin: 0 0 2.143rem;
}
.view.service-type-1 .service-title {
    padding: 1.7143rem 0;
    margin: 0;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* text-align: center; */
    color: #3f4346;
    letter-spacing: inherit;
    text-transform: uppercase;
}
.view.service-type-1.variant-1 .service-title {
    background-color: #eaeaea;
    padding: 1.7143rem 1.43rem;
    margin: 0 0 2.143rem;
}
/* .view.service-type-1 .service-description {
    text-align: center;
} */

.view.service-type-1 .service-more {
    padding: 2rem 0 0;
}
.view.service-type-1 .service-more a.more-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

/*
* view.service-type-2
* ----------------------------------------
*/

.view.service-type-2 .service-content {
    height: 100%;
    min-height: 20rem;
    position: relative;
}
.view.service-type-2 .service-content .content-inner {
    padding: 2.143rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    color: #3f4346;
}
.view.service-type-2.image-overlay-mob-grey .service-content .content-inner {
    background-color: rgba(241,241,241,0.7);
}
.view.service-type-2.image-overlay-mob-blue .service-content .content-inner {
    background-color: rgba(41,48,60,0.7);
    color: #ffffff;
}
.view.service-type-2 .service-content .title {
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 1.143rem;
    letter-spacing: inherit;
    padding: 0;
    margin: 0 0 1.07rem;
    text-transform: uppercase;
}
.view.service-type-2 .service-content .description {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 1.143rem;
    line-height: 1.4375em;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
}
.view.service-type-2 .service-image {
    display: none;
}

@media (min-width: 992px)
{
    .view.service-type-2 .service-content .content-inner {
        padding: 4.2857rem 7rem;
        background-color: transparent !important;
        text-align: left !important;
        color: #3f4346 !important;
    }
    .view.service-type-2 .service-image-mob {
        display: none;
    }
    .view.service-type-2 .service-image {
        display: block;
        min-height: 38rem;
    }
}

/*
* view.service-type-3-group
* ----------------------------------------
*/

.view.service-type-3-group {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}

/*
* view.service-type-3
* ----------------------------------------
*/

.view.service-type-3 .service-inner {
    display: block;
    position: relative;
    margin: 0 1.25rem 2.5rem;
}
.view.service-type-3 .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.43rem;
    margin: 0;
    font-size: 1.2857rem;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
    text-align: center;
    background-color: rgba(234, 234, 234, 0.85);
}
.view.service-type-3 img {
    display: block;
    margin: 0;
}

/*
* view.service-type-4-group
* ----------------------------------------
*/

.view.service-type-4-group {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}

/*
* view.service-type-4
* ----------------------------------------
*/

.view.service-type-4 {
    padding: 0;
    margin: 0 0 3.57rem;
}

.view.service-type-4-group.has-seps .view.service-type-4 {
    padding: 0 0 2rem;
}
/* .view.service-type-4-group.has-seps .view.service-type-4:not(.is-last) { */
.view.service-type-4-group.has-seps .view.service-type-4 {
    border-bottom: 1px solid #b0b0b0;
}

@media (min-width: 992px)
{
    .view.service-type-4 {
        padding: 0 1rem;
    }
    .view.service-type-4-group.has-seps .view.service-type-4 {
        padding: 0 3rem 0;
    }
    .view.service-type-4-group.has-seps .view.service-type-4 {
        border-bottom: none;
    }
    .view.service-type-4-group.has-seps .view.service-type-4:not(.is-last) {
        border-right: 1px solid #b0b0b0;
    }
}

.view.service-type-4 .service-inner {
    display: block;
}
.view.service-type-4 .counter-num {
    font-size: 0.7143rem;
    font-weight: 400;
}
.view.service-type-4 .title {
    padding: 0 0 2.143rem;
    margin: 0;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #3f4346;
    letter-spacing: inherit;
    text-transform: uppercase;
}
.view.service-type-4 .description {
    font-size: 1.143rem;
    font-weight: 400;
}

/*
* view.service-type-6-group
* ----------------------------------------
*/

.view.service-type-6-group {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}
.view.service-type-6-group .group-description {
    margin: 0 auto 5rem;
    font-size: 1.143rem;
    color: #969696;
    line-height: 28px;
    text-align: center;
}
@media (min-width: 992px)
{
    .view.service-type-6-group .group-description {
        max-width: 42rem;
    }
}

/*
* view.service-type-6
* ----------------------------------------
*/
.view.service-type-6 {
    margin: 0 0 2rem;
}

@media (min-width: 992px)
{
    .view.service-type-6 {
        padding: 0 2.143rem;
    }
}

.view.service-type-6 .service-image {
    margin: 0 0 1.5rem;
}
.view.service-type-6 .service-image img {
    height: 12.857rem;
    object-fit: cover;
}
.view.service-type-6 .service-title {
    font-weight: 500;
    font-size: 1.2857rem;
    padding: 0;
    margin: 0 0 1rem;
}
.view.service-type-6 .service-description {
    font-weight: 400;
    color: #969696;
    font-size: 1rem;
    line-height: 1.57em;
    margin: 0 0 3rem;
}

/*
* view.contact-form
* ----------------------------------------
*/

.view.contact-form {
    padding-top: 4.2857rem;
    padding-bottom: 5.7143rem;
}
.view.contact-form.has-address-info {
    padding-top: 6rem;
}
.view.contact-form .contact-form-cont {
    padding: 0;
    margin: 0 auto 3rem;
}
.view.contact-form.has-address-info .contact-form-cont {
    padding: 0 0 3rem;
    border-bottom: 1px solid #c4c4c4;
}
@media (min-width: 992px)
{
    .view.contact-form .contact-form-cont {
        max-width: 40rem;
    }
    .view.contact-form.has-address-info .contact-form-cont {
        height: 100%;
        max-width: none;
        padding: 0 3rem 0 0;
        margin: 0 auto;
        border-bottom: 0;
        border-right: 1px solid #c4c4c4;
    }
}
/*.view.contact-form .wpcf7 form > p {
    padding: 0;
    margin: 0;
}
.view.contact-form .wpcf7 form > p > br {
    display: none;
}
.view.contact-form .wpcf7 .form-block {
    margin: 0 0 2.357rem;
}
.view.contact-form .wpcf7 .block-submit {
    text-align: center;
}
.view.contact-form .wpcf7 span.wpcf7-form-control-wrap,
.view.contact-form .wpcf7 span.wpcf7-form-control-wrap span.wpcf7-form-control,
.view.contact-form .wpcf7 span.wpcf7-form-control-wrap span.wpcf7-form-control span.wpcf7-list-item {
    display: block;
    margin: 0;
    padding: 0;
}
.view.contact-form .wpcf7 span.wpcf7-form-control-wrap.acceptance {
    display: inline-block;
}
.view.contact-form .wpcf7 label {
    display: block;
    padding: 0;
    margin: 0 0 1rem;
}
.view.contact-form .wpcf7 form input[type="text"],
.view.contact-form .wpcf7 form input[type="number"],
.view.contact-form .wpcf7 form input[type="email"],
.view.contact-form .wpcf7 form input[type="tel"], 
.view.contact-form .wpcf7 form select, 
.view.contact-form .wpcf7 form textarea {
    width: 100%;
    padding: 0.7143rem;
    border: none;
    border-radius: 0;
    background-color: #ffffff;
    font-family: Gotham;
    font-size: 1rem;
    color: #969696;
}
.view.contact-form .wpcf7 form textarea {
    min-height: 16rem;
    resize: vertical;
}
.view.contact-form .wpcf7 form .wpcf7-not-valid {
    background-color: #fff2f2 !important;
}
.view.contact-form .wpcf7 span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
    display: none;
}
.view.contact-form .wpcf7 form .ajax-loader {
    display: none;
}
.view.contact-form .wpcf7 form .wpcf7-spinner {
    display: none;
}
.view.contact-form .wpcf7 form.submitting .wpcf7-spinner {
    display: block;
    margin: 1rem auto;
}
.view.contact-form .wpcf7 form .wpcf7-response-output {
    padding: 0.85rem 1rem;
    margin: 0;
}*/

/* --------------- */

.view.contact-form .address-info-cont {
    padding: 0;
}
@media (min-width: 992px)
{
    .view.contact-form .address-info-cont {
        padding: 0 0 0 3rem;
    }
}
.view.contact-form .address-info-cont h3 {
    font-size: 1.43rem;
    padding: 0;
    margin: 0 0 1.2857rem;
}
.view.contact-form .address-info-cont h4 {
    font-size: 1.07rem;
    padding: 0;
    margin: 0 0 0.5rem;
}
.view.contact-form .address-info-cont p {
    color: #969696;
    font-weight: 400;
}
.view.contact-form .address-info-cont p strong {
    color: #333333;
}
.view.contact-form .address-info-cont p a {
    text-decoration: none;
    color: inherit;
}

/*
* view.contact-address
* ----------------------------------------
*/

.view.contact-address {
    font-size: 0.93rem;
    margin: 0 0 2rem;
}
.view.contact-address.variant-widget-footer {
    color: #838da6;
    font-weight: 400;
}

.view.contact-address.variant-default .address-title {
    text-transform: uppercase;
}

.view.contact-address .address-info {
    margin: 0 0 0.5rem;
}
.view.contact-address.variant-default .address-info {
    color: #969696;
}

.view.contact-address li .meta-label {
    font-weight: 500;
}
.view.contact-address ul.working-hours li span.meta-label {
    font-weight: normal;
}
.view.contact-address li a.meta-value {
    text-decoration: none;
}
.view.contact-address.variant-default li .meta-value {
    color: #969696;
}

.view.contact-address.variant-default .address-phones {
    margin: 0 0 0.5rem;
}
.view.contact-address.variant-default .address-emails {
    margin: 0 0 0.5rem;
}
.view.contact-address .working-hours {
    margin: 1rem 0 0;
}
.view.contact-address.variant-widget-footer .working-hours {
    padding: 1rem 0 0;
    border-top: 1px solid #838da6;
}

/*
* view.process-icons
* ----------------------------------------
*/

.view.process-icons {
    padding-top: 4.643rem;
    padding-bottom: 5.143rem;
}
@media (min-width: 992px)
{
    .view.process-icons ul.icons-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.view.process-icons ul.icons-list li.icon-item {
    display: block;
    /* width: 50%; */
    padding: 0;
    margin: 0 0 2rem;
    text-align: center;
}
.view.process-icons.has-seps ul.icons-list li.icon-item {
    padding: 0 0 2rem;
}
/* .view.process-icons.has-seps ul.icons-list li.icon-item:not(:last-child) { */
.view.process-icons.has-seps ul.icons-list li.icon-item {
    border-bottom: 1px solid #b0b0b0;
}
@media (min-width: 992px)
{
    .view.process-icons.has-seps ul.icons-list li.icon-item {
        padding: 0 2rem 0;
    }
    .view.process-icons.has-seps ul.icons-list li.icon-item {
        border-bottom: none;
    }
    .view.process-icons.has-seps ul.icons-list li.icon-item:not(:last-child) {
        border-right: 1px solid #b0b0b0;
    }
}
.view.process-icons ul.icons-list li.icon-item > span {
    display: block;
}
.view.process-icons ul.icons-list li.icon-item span.icon-type {
    margin: 0 0 1.07rem;
}
.view.process-icons ul.icons-list li.icon-item span.icon-type:before {
    display: block;
    font-family: ss_dingsregular;
    font-size: 3.57rem;
    line-height: 1em;
    color: #d4d4d4;
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.location:before {
    content: "\e921";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.interior-design:before {
    content: "\e926";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.tools:before {
    content: "\e924";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.key-hand:before {
    content: "\e930";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.long-stay:before {
    content: "\e920";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.shake-hands:before {
    content: "\e922";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.paper:before {
    content: "\e928";
}
.view.process-icons ul.icons-list li.icon-item span.icon-type.building:before {
    content: "\e927";
}

@media (min-width: 992px){
    .view.process-icons ul.icons-list {
        flex-wrap: nowrap;
    }
    .view.process-icons ul.icons-list li.icon-item {
        width: 100%;
    }
}

/*
* view.value-table
* ----------------------------------------
*/

 .view.value-table {
     padding-top: 5.7rem;
     padding-bottom: 5.7rem;
}
.view.value-table .table-cont {
    width: 100%;
    overflow-x: auto;
}
.view.value-table table {
    border-collapse: collapse;
    border: 1px solid #e7e7e7;
    border-left: none;
    width: 100%;
    margin-bottom: 2.5rem;
}
.view.value-table table th {
    text-transform: uppercase;
    border: 1px solid #e7e7e7;
    border-left: none;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.view.value-table table th,
.view.value-table table td {
    /* border: 1px solid #e7e7e7; */
    padding: 1.2857rem 0.7143rem;
    color: #4c4c4e;
}
.view.value-table table th:not(.c-0),
.view.value-table table td:not(.c-0) {
    text-align: center;
}
.view.value-table table td {
    font-size: 1.143rem;
    font-weight: 400;
}

.view.value-table table td span.value-check {
    font-family: ss_dingsregular;
}

/*
* view.testimonial-group
* ----------------------------------------
*/

.view.testimonial-group {
    padding-top: 4.2857rem;
    padding-bottom: 2.2857rem;
}

/*
* view.testimonial
* ----------------------------------------
*/

.view.testimonial {
    padding: 0 1rem 2rem;
}
.view.testimonial .customer-quote {
    position: relative;
    padding: 1.7143rem 0 2.5rem;
}
.view.testimonial .customer-quote:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: ss_dingsregular;
    content: '"';
    font-size: 1.7143rem;
}
.view.testimonial .customer-quote p {
    font-size: 1rem;
    line-height: 1.875em;
    color: #969696;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
}
.view.testimonial .customer-image {
    max-width: 6rem;
    position: relative;
}
.view.testimonial .customer-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding-right: 1.43rem;
}
.view.testimonial .customer-name {
    padding: 0 0 0.3125rem;
    font-size: 1rem;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    color: #333;
}
.view.testimonial .customer-title {
    color: #b0b0b0;
    font-size: 0.875rem;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

/*
* view.client-logos
* ----------------------------------------
*/

.view.client-logos {
    padding-top: 7.143rem;
    padding-bottom: 4.7143rem;
}
/* .view.client-logos .title {
    font-family: freightText;
    font-style: normal;
    font-weight: 300;
    font-size: 2.143rem;
    color: #3f4346;
    padding: 0;
    margin: 0 0 1.7857rem;
    text-align: center;
} */
/* .view.cta-type-1.bg-dark .title {
    color: #ffffff;
} */
.view.client-logos .logos-row {
    display: flex;
    flex-direction: column;
}
.view.client-logos .logos-row .client-logo {
    text-align: center;
    padding: 0 1rem 1rem;
}
@media (min-width: 992px)
{
    .view.client-logos .logos-row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/*
* view.related-sites-footer-widget
* ----------------------------------------
*/

.view.related-sites-footer-widget {
    position: relative;
    color: #ffffff;
}
.view.related-sites-footer-widget .related-sites {
    margin: 0 0 1rem;
}
.view.related-sites-footer-widget .related-site {
    text-align: center;
    margin: 0 0 2rem;
}
.view.related-sites-footer-widget a.related-site-link {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}

@media (min-width: 992px)
{
    .view.related-sites-footer-widget .related-site.site-first {
        text-align: left;
    }
    .view.related-sites-footer-widget .related-site.site-last {
        text-align: right;
    }
}

.view.related-sites-footer-widget .learn-more {
    position: relative;
    text-align: center;
    margin: 0 0 2.5rem;
}
.view.related-sites-footer-widget .learn-more a.learn-more-link {
    position: relative;
    display: inline-block;
    padding: 0 1.643rem;
    color: #7a8296;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.view.related-sites-footer-widget .learn-more a.learn-more-link:hover {
    opacity: 1;
}
.view.related-sites-footer-widget .learn-more .cross-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #7a8296;
}

/*
* view.copyright-footer-widget
* ----------------------------------------
*/

/* .view.copyright-footer-widget {
    margin: 0 0 1rem;
} */
.view.copyright-footer-widget p.copyright-text {
    text-align: center;
    color: #50586b;
    font-size: 0.857rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}

/*
* view.social-links-footer-widget
* ----------------------------------------
*/

.view.social-links-footer-widget ul.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.view.social-links-footer-widget ul.social-links li {
    display: block;
}
.view.social-links-footer-widget ul.social-links li a {
    display: block;
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background-color: #3a4050;
}
.view.social-links-footer-widget ul.social-links li a:before {
    display: block;
    font-family: "Font Awesome 5 Brands";
    color: #ffffff;
    font-size: inherit;
    line-height: inherit;
    width: 1.5em;
}
.view.social-links-footer-widget ul.social-links li a.facebook:before {
    content: "\f39e";
}
.view.social-links-footer-widget ul.social-links li a.linkedin:before {
    content: "\f0e1";
}
.view.social-links-footer-widget ul.social-links li a.twitter:before {
    content: "\f099";
}
.view.social-links-footer-widget ul.social-links li a.googleplus:before {
    content: "\f0d5";
}
.view.social-links-footer-widget ul.social-links li a.instagram:before {
    content: "\f16d";
}
.view.social-links-footer-widget ul.social-links li a.youtube:before {
    content: "\f167";
}

/*
* view.person-card-group
* ----------------------------------------
*/

/* .view.person-card-group {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
} */

/*
* view.service-type-4
* ----------------------------------------
*/

.view.person-card {
    padding: 0;
    margin: 0 0 3.57rem;
}
.view.person-card .person-image {
    text-align: center;
    margin: 0 0 1.43rem;
}
.view.person-card .person-image img {
    height: 19rem;
    object-fit: cover;
}
.view.person-card .person-name {
    padding: 0 1.43rem;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
}
.view.person-card .person-position {
    padding: 0 1.43rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
}

/*
* view.service-type-5
* ----------------------------------------
*/

.view.service-type-5 {
    text-align: center;
    padding: 0 1.143rem 3.57rem;
}
@media (min-width: 992px){
    .view.service-type-5.extra-pads {
        padding: 4.2857rem 4rem 3.57rem;
    }
}
.view.service-type-5 .service-description {
    font-weight: 400;
    margin: 0 0 3.57rem;
    text-align: center;
}
.view.service-type-5 .service-image {
    margin: 0 0 2.857rem;
    text-align: center;
}
.view.service-type-5 .service-tagline {
    padding: 0;
    font-size: 1.2857rem;
    font-weight: 500;
    color: #3f4346;
    padding: 0;
    margin: 0 0 2.143rem;
    text-transform: uppercase;
}
@media (min-width: 992px)
{
    .view.service-type-5 .service-tagline {
        margin-bottom: 6.5rem;
    }
}
.view.service-type-5 .service-more {
    text-align: center;
}

/*
* view.steps-line
* ----------------------------------------
*/

.view.steps-line {
    padding-top: 4.2857rem;
    padding-bottom: 4.2857rem;
}

.view.steps-line .step-item .step-label {
    position: relative;
    height: 100%;
    padding: 0.25rem 3.7rem 2rem 0;
    text-align: right;
    color: #3a4050;
}
.view.steps-line .step-item .step-description {
    position: relative;
    height: 100%;
    padding: 0.25rem 0 2rem 3.7rem;
    border-left: 2px solid #3a4050;
}
.view.steps-line .step-item:last-child .step-description {
    border-left-color: transparent;
}
.view.steps-line .step-item .step-description .step-num {
    position: absolute;
    top: 0;
    left: -1.143rem;
    border-radius: 50%;
    background-color: #3a4050;
    color: #ffffff;
    font-size: 1rem;
    line-height: 2em;
    width: 2em;
    text-align: center;
}

/*
* view.property-nav
* ----------------------------------------
*/

.view.property-nav .fixed-cont {
    border-bottom: 1px solid #d0d0d0;
}
@media (min-width: 992px)
{
    .view.property-nav .fixed-cont {
        padding-top: 4.8rem;
    }
}
.view.property-nav.fixed .fixed-cont {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.view.property-nav .back-link {
    padding-left: 1rem;
}
.view.property-nav.fixed .back-link {
    display: none;
}

.view.property-nav .back-link a {
    display: block;
    padding: 1.43rem 1.43rem;
    color: #4c4c4e;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
}

.view.property-nav .nav-links {
    display: none;
    flex-direction: row;
}
.view.property-nav.fixed .nav-links {
    display: flex;
}
.view.property-nav .nav-links li a {
    display: block;
    padding: 1.43rem 1.43rem;
    color: #bebebe;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 2p solid transparent;
    margin-bottom: 2px solid transparent;
}
.view.property-nav .nav-links li a.active {
    color: #568ba4;
    border-bottom-color: #568ba4;
}
.view.property-nav .nav-links li:first-child a {
    padding-left: 0;
}
.view.property-nav .nav-links li:last-child a {
    padding-right: 0;
}

/*
* view.property-contact
* ----------------------------------------
*/

.view.property-contact {
    padding: 5rem 0;
    color: #fff;
    background-image: linear-gradient(to bottom,#4786b2 0,#3b6a8c 100%);
    color: #ffffff;
}

@media (min-width: 992px)
{
    .view.property-contact {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
}

.view.property-contact .slide-item {
    padding: 3rem 1.5rem;
}

/* ---------- */

.view.property-contact .slide-info .property-price {
    text-align: center;
    font-size: 1.43rem;
    margin: 0 0 1.43rem;
}
.view.property-contact .slide-info .property-arrange {
    text-align: center;
    margin: 0 0 3rem;
}
/* .view.property-contact .slide-info .property-arrange button {
    border: 1px solid #76aac4;
    color: #fff;
    background-color: #76aac4;
    font-weight: 700;
} */

/* ---------- */

.view.property-contact .slide-form {
    padding-top: 7.143rem;
}
.view.property-contact .slide-form .btn-back {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    background-color: rgba(40,79,109,0.3);
    padding: 1.5rem;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1em;
    border: none;
}
.view.property-contact .slide-form .btn-back:before {
    display: block;
    content: "\f060";
    font-family: "Font Awesome 5 Free";
}

/*
* view.agent-card
* ----------------------------------------
*/

.view.agent-card {
    margin: 0 0 2rem;
}
.view.agent-card .agent-image {
    margin: 0 0 0.6rem;
}
.view.agent-card .agent-image img {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.view.agent-card .agent-name {
    margin: 0 0 0.3rem;
    text-align: center;
    font-size: 1.143rem;
    font-weight: 500;
}

.view.agent-card .agent-phone {
    margin: 0 0 0.3rem;
    text-align: center;
    font-size: 1.143rem;
    font-weight: 400;
    color: #e3e3e3;
}
.view.agent-card .agent-phone a {
    text-decoration: none;
}

.view.agent-card .agent-email {
    margin: 0 0 1.5rem;
    text-align: center;
    font-size: 1.143rem;
    font-weight: 500;
    color: #e3e3e3;
}
.view.agent-card .agent-email a {
    text-decoration: none;
}

.view.agent-card .agent-contact {
    text-align: center;
}
.view.agent-card .agent-contact button {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    font-weight: 700;
}

/*
* view.property-contact-form
* ----------------------------------------
*/

.view.property-contact-form .form-title {

    font-size: 1.43rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 1.3rem;
    text-align: center;
}
.view.property-contact-form .form-description {

    font-size: 1.143rem;
    line-height: 1.5em;
    margin-bottom: 1.7rem;
    text-align: center;
}

.view.property-contact-form form.wpcf7-form span.wpcf7-form-control-wrap span.wpcf7-form-control.wpcf7-radio span.wpcf7-list-item {
    margin-right: 1rem;
    display: inline-block;
}

/*
* view.property-summary
* ----------------------------------------
*/

.view.property-summary {
    padding: 2.857rem 1rem;
    border-bottom: 1px solid #e4e4e4;
}
.view.property-summary .info-container {
    max-width: 48.6rem;
    margin: 0 auto;
}

.view.property-summary .summary-info:not(:last-child) {
    margin: 0 0 3rem;
}

.view.property-summary .summary-info .info-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0.25rem 1rem;
    color: #bebebe;
    border-right: 1px solid #e1e1e1;
}
.view.property-summary .summary-info .info-item:last-child {
    border-right: none;
}
.view.property-summary .summary-info .info-item.has-icon:before {
    display: inline-block;
    font-family: ss_dingsregular;
    font-size: 1.57em;
    margin-right: 0.5rem;
}

.view.property-summary .summary-info.info-1 .info-item {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}
.view.property-summary .summary-info.info-1 .info-item.address:before {
    content: "E";
}

.view.property-summary .summary-info.info-2 .info-item {
    font-size: 1.43rem;
}
.view.property-summary .summary-info.info-2 .info-item.bedrooms:before {
    content: "N";
}
.view.property-summary .summary-info.info-2 .info-item.bathrooms:before {
    content: "O";
}

/*
* view.property-details
* ----------------------------------------
*/

.view.property-details {
    padding: 2.857rem 1rem;
    border-bottom: 1px solid #e4e4e4;
}
.view.property-details .info-container {
    max-width: 48.6rem;
    margin: 0 auto;
}

.view.property-details .detail-info:not(:last-child) {
    padding: 0 0 2.143rem;
    border-bottom: 1px solid #e4e4e4;
    margin: 0 0 2.143rem;
}

.view.property-details .detail-info.description .detail-title {
    color: #bebebe;
    font-size: 0.857rem;
    letter-spacing: .04em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 1.857rem;
}
.view.property-details .detail-info:not(.description) .detail-title {
    font-size: 1.43rem;
    color: #3d3d3d;
    font-weight: 500;
    margin: 0 0 1.857rem;
}

.view.property-details .detail-info.specs .info-item {
    position: relative;
    display: block;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
}
.view.property-details .detail-info.specs .info-item .info-label {
    display: block;
    font-weight: bold;
    width: 50%;
    padding-right: 1rem;
}
.view.property-details .detail-info.specs .info-item .info-value {
    display: block;
    color: #bebebe;
    width: 50%;
}

/*
* view.property-gallery
* ----------------------------------------
*/

.view.property-gallery .gallery-thumbnail {
    padding: 0 0 1.43rem;
    cursor: pointer;
}

.view.property-gallery .gallery-slider-cont {
    padding: 1.43rem;
    position: relative;
}
@media (min-width: 992px)
{
    .view.property-gallery .gallery-slider-cont {
        padding: 4.2857rem 5.7rem;
    }
}

.view.property-gallery .gallery-slider .gallery-image {
    position: relative;
}
.view.property-gallery .gallery-slider .gallery-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.view.property-gallery .gallery-slider .gallery-image .counter {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(44,44,44,.53);
    border-radius: 3px;
    padding: 0.25rem 0.75rem;
}

.view.property-gallery .gallery-slider .swiper-nav:after {
    color: #ffffff;
    padding: 1rem;
}

.view.property-gallery .gallery-slider-cont .property-name {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #4c4c4e;
}

.view.property-gallery .gallery-slider-cont .loader {
    display: none;
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
}
.view.property-gallery .gallery-slider-cont.loading .loader {
    display: block;
}

/*
* view.property-map
* ----------------------------------------
*/

.view.property-map .map {
    height: 44rem;
}

.view.property-map .area-info {
    padding: 1rem 1rem 1.43rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    background-color: #ffffff;
}
@media (min-width: 992px)
{
    .view.property-map .area-info {
        position: absolute;
        top: 8.57rem;
        left: 10rem;
        width: 20rem;
    }
}
.view.property-map .area-info .info-name {
    padding: 1rem 1rem 1.43rem;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
    background-color: #4c4c4e;
    text-align: center;
}
.view.property-map .area-info .info-name:before {
    display: block;
    font-family: "Font Awesome 5 Free";
    content: "\f3c5";
    margin-bottom: 0.5rem;
}
.view.property-map .area-info .info-content {
    padding: 1.7rem 0.7rem 1rem;
    text-align: center;
}
.view.property-map .area-info .info-content .title {
    color: #4c4c4e;
    font-weight: 500;
    font-size: 1.43rem;
    margin: 0 0 0.7rem;
}
.view.property-map .area-info .info-content .subtitle {
    color: #7d7d7d;
    font-weight: 400;
    font-size: 1.143rem;
    margin: 0 0 1.43rem;
}
.view.property-map .area-info .info-content .descripiton {
    font-size: 1rem;
    color: #969696;
}

/*
* view.list-pager
* ----------------------------------------
*/

.view.list-pager {
    padding: 5rem 0.7143rem 5rem;
}
.view.list-pager ul.page-list li {
    display: inline-block;
}
.view.list-pager ul.page-list li a {
    display: block;
    background-color: #e3e3e3;
    color: #4c4c4e;
    font-size: 1rem;
    padding: 1rem 1rem;
    min-width: 3.2143rem;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.view.list-pager ul.page-list li.active a {
    background-color: #568ba4;
    color: #ffffff;
}
