/*
 * Layout
 * ----------------------------------------
 */

.wp-admin .acf-block-preview > .view {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.wp-admin .components-popover.block-editor-block-list__block-popover {
    z-index: 1000;
}

.wp-admin .wp-block {
    max-width: 90%;
}

.wp-admin .edit-block-here {
    margin-bottom: 2rem;
}
.wp-admin .edit-block-here h5 {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #efefef;
    cursor: pointer;
}
.wp-admin .edit-block-here h5:before {
    display: inline-block;
    font-family: "dashicons";
    content: "\f464";
    margin-right: 1rem;
}

.wp-admin .wp-block .view .block-edit-handle {
    padding: 0 0 1rem;
    margin: 0 0 1rem;
    border-bottom: 1px solid #e1e1e1;
}
.wp-admin .wp-block .view .view .block-edit-handle {
    display: none;
}
.wp-admin .wp-block .view .block-edit-handle span.edit-handle {
    display: inline-block;
    background-color: #e1e1e1;
    cursor: pointer;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}
.wp-admin .wp-block .view .block-edit-handle span.edit-handle:before {
    display: inline-block;
    vertical-align: middle;
    font-family: "dashicons";
    content: "\f464";
    font-size: 1rem;
    line-height: 1em;
    padding: 0 1rem;
}
