/*
* Template: page-properties
* ----------------------------------------
*/

body.page-template-page-properties {
    padding-top: 8rem;
    background-color: #f2f2f2;
}
@media (min-width: 992px)
{
    body.page-template-page-properties {
        padding-top: 6.5rem;
    }
}

/*
* Template: single-property
* ----------------------------------------
*/

@media (min-width: 992px)
{
    body.single-property .property-contact-col {
        background-image: linear-gradient(to bottom,#4786b2 0,#3b6a8c 100%);
    }
}
