<div class="form-block">
    [select contact-subject "Selling" "Renting" "New Properties" "Interior Design" "Other"]
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-block">[text contact-first-name placeholder "First name"]</div>
    </div>
    <div class="col-lg-6">
        <div class="form-block">[text contact-last-name placeholder "Last name"]</div>
    </div>
</div>
<div class="form-block">
    [email contact-email placeholder "Contact email"]
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-block">[select contact-country-codes "Afghanistan" "Albania" "Algeria"]</div>
    </div>
    <div class="col-lg-6">
        <div class="form-block">[tel contact-phone]</div>
    </div>
</div>
<div class="form-block">[textarea contact-message]</div>

<div class="form-block">[submit "Submit"]</div>